<ion-content class="ion-padding">

  <ion-button (click)="readyPermissions()" expand="block">
    Permissions
  </ion-button>

  <ion-button (click)="adapterReady_bluetoothLE()" expand="block">
    Initialize and enable bluetoothLE
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let device of pairedDevices" > <!--(click)="connectDevice(device)"-->
      <ion-label>{{device.name}}</ion-label>
      <ion-label>{{device.address}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="scanDevices_bluetoothLE( $event )" expand="block">
    Start scan bluetoothLE
  </ion-button>

</ion-content>
